<div class="container signn">
  <div class="card">
    <div class="card-body">
      <h1 class="card-title">Sign Up</h1>
      <%= form_with model: @user, url: sign_up_path do |form| %>
        <% if form.object.errors.any? %>
          <div class="alert alert-danger">
            <ul class="mb-0">
              <% form.object.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <%end %>
        <div class="form-group mb-3">
          <%= form.label :email %>
          <%= form.email_field :email, class: "form-control", placeholder: "Enter your email" %>
        </div>
        <div class="form-group mb-3">
          <%= form.label :password %>
          <%= form.password_field :password, class: "form-control", placeholder: "Enter your password" %>
        </div>
        <div class="form-group mb-3">
          <%= form.label :password_confirmation %>
          <%= form.password_field :password_confirmation, class: "form-control", placeholder: "Confirm your password" %>
        </div>
        <div class="form-group">
          <%= form.submit "Sign Up", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>