<div class="container signn">
  <div class="card">
    <div class="card-body">
      <h1 class="card-title">Edit Post</h1>
      <%= form_with model: @post do |form| %>
        <% if form.object.errors.any? %>
          <div class="alert alert-danger">
            <ul class="mb-0">
              <% form.object.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
        <div class="form-group mb-3">
          <%= form.label :title %>
          <%= form.text_field :title, class: "form-control", placeholder: "Enter the post title" %>
        </div>
        <div class="form-group mb-3">
          <%= form.label :photo %>
          <%= form.text_field :photo, class: "form-control", placeholder: "Enter the URL of the photo" %>
        </div>
        <div class="form-group mb-3">
          <%= form.label :text %>
          <%= form.text_area :text, class: "form-control", placeholder: "Enter the post text" %>
        </div>
        <div class="form-group">
          <%= form.submit "Submit", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
