<% if Current.user %>
  <div class="d-flex align-items-center justify-content-center mb-5">
    <h1 class="display-3">Welcome to Tweets</h1>
  </div>

  <% @posts.each do |post| %>
    <div class="card mb-4">
      <img src="<%= post.photo %>"  class="card-img-top">

      <div class="card-body">
        <h5 class="card-title"><%= post.title %></h5>
        <p class="card-text"><%= post.text %></p>
        <p class="card-text"><strong>Posted by:</strong> <%= post.user.email %></p>
        <div class="d-flex justify-content-end">
          <% if Current.user == post.user %>
            <%= link_to "Show Post", post_path(post), class: "btn btn-sm custom-btn edit-btn rounded-pill" %>
            <%= link_to "Edit", edit_post_path(post), class: "btn btn-sm custom-btn edit-btn rounded-pill" %>
            <%= button_to "Delete", post_path(post), method: :delete, class: "btn btn-sm custom-btn delete-btn rounded-pill" %>
          <% else %>
            <%= link_to "Show Post", post_path(post), class: "btn btn-sm custom-btn edit-btn rounded-pill" %>
          <% end %>
        </div>
      </div>

      <div class="card-footer">
        <p class="fw-bold">Comments:</p>
        <% post.comments.last(3).each do |comment| %>
          <div class="d-flex align-items-start mb-2">
            <div>
              <span class="mb-0 fst-italic fw-semibold"><%= comment.user.email %> : </span><span class="light"><%= comment.comment %></span>
            </div>
          </div>
        <% end %>


        <form class="row g-3">
          <div class="col-10">
            <%= form_with url: create_comment_post_path(post) do |form| %>
              <%= form.hidden_field :name, value: Current.user.email %>
              <%= form.fields_for :comment, Comment.new do |comment_fields| %>
                <%= comment_fields.hidden_field :user_id, value: Current.user.id %>
                <%= comment_fields.hidden_field :post_id, value: post.id %>
                <%= comment_fields.text_field :comment,class: "form-control", placeholder: "Write a comment..." , style: "height: 20px"%>
          </div>
          <div class="col-2">
            <div class="form-group">
              <%= form.submit "Submit", class: "btn btn-sm custom-btn edit-btn rounded-pill" %>
            </div>
          </div>
              <% end %>
            <% end %>
            </form>





      </div>
    </div>
  <% end %>

<% else %>
  <div class="d-flex align-items-center justify-content-center mb-5">
    <h1 class="display-3">Welcome to Tweets</h1>
  </div>
  <div class="d-flex align-items-center justify-content-center mb-5">
    <p class="lead">Please sign up or log in to see the posts.</p>
  </div>
<% end %>
